@model PolySondage.Services.Models.DashBoardViewModels


@{
    ViewData["Title"] = "DashBoard";
}

<h1>DashBoard</h1>
<div style="margin-top:2rem" class="container row">
    <div class="col-6">
        <div class="container row border-bottom" style="padding-bottom:1rem">
            <h2 class="col-md-8">Mes sondage</h2>
            <a asp-controller="Poll" asp-action="Create" class="btn btn-success col-6 col-md-4">Créer</a>
        </div>

        <table class="table table-sm">
            <tbody>
                @foreach (var item in Model.created)
                {
                    <tr>
                        <td>
                            <a  href="/Poll/Resultat/@Html.DisplayFor(modelItem => item.IdPoll)"  class="btn btn-link">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberVote)
                        </td>
                        <td>
                            @if (item.Activated)
                            {
                                <button type="button" class="btn btn-danger">Desactiver</button>
                            }
                            else
                            {
                                <button disabled type="button" class="btn btn-secondary">Desactiver</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h2 style="width: 100%; padding-bottom: 1.5rem; padding-left:1rem" class="border-bottom">Mes votes</h2>
        <table class="table table-sm">
            <tbody>
                @foreach (var item in Model.participated)
                {
                    <tr>
                        <td>
                            <a asp-controller="Poll" asp-action="Resultat" class="btn btn-link">@Html.DisplayFor(modelItem => item.Title)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberVote)
                        </td>
                        <td>
                            @if (item.Activated)
                            {
                                <i class="large material-icons">lock_open</i>
                            }
                            else
                            {
                                <i class="large material-icons">lock</i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
