@model PolySondage.Data.Models.Poll

@{
    ViewData["Title"] = "Create";
}

<h1>Creation Sondage</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div class="text-danger"></div>
            <div class="form-group">
                <input id="title" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="unique" class="form-check-input" type="checkbox"/>
                </label>
            </div>
            <div class="form-group">
                <input class="form-control choices" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control choices" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control choices" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script>
    //js et ajax pour
	//gestion des ajouts de champs dynamique
    //envoi du From au controleur
        $(document).ready(() => {
            addInput();

            function addInput() {
                $('.choices:last').change(function () {
                    //ajout champ dynamiquement
                    let lastChoice = $('.choices:last');
                    let newChoice = $('.choices:last').parent().clone();
                    newChoice.children().val('');
                    newChoice.insertAfter(lastChoice.parent());
                    //faire un bind de ce callback sur le input créé
                    addInput();
                })
            }
            



            $('#form').submit(e => {
                e.preventDefault();
                //construire l'objet data equivalent à la classe Poll
                var data = new FormData();
                data.append('title', $('#title').val());
                var choices = [];
                $('input.choices').each( function (i) {
                    choices.push($(this).val());
                });
                data.append('choices', choices);
                data.append('unique', $('#unique').is(':checked'));
                //...

                $.ajax({
                    type: 'POST',
                    data: JSON.stringify({
                        title: $("#title").val(),
                        choices: choices,
                        unique: $('#unique').is(':checked')
                    }),
                    url: '/poll/create',
                    method: 'post',
                    processData: false,
                    contentType: 'application/json',
                    dataType: 'json',
                    success: response => {
                        //action en cas de réussite
                        //window.location.href = '/index?poll=' + response;
                        console.log(data);
                    },
                    error: error => {
                        //action en cas d'erreur (message ?)
                    }    
                })

            })
        });
	</script>

}
