@model PolySondage.Services.Models.ResultPollViewModels

@{
    ViewData["Title"] = "Resultat";
}

<h1>Resultat</h1>

<div>
    <h4>ResultPollViewModels</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
    </dl>
    <table class="table">
        <tbody>
            @foreach (var item in Model.OptionsOrdered)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalVotes)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
